<nav>
    <div class="logo">
    🍴 My Restaurant
    </div>
    <ul>
        <li>
            <a href="/">
            Home
            </a>
        </li>
        <li>
            <a href="/menu">
            Menu
            </a>
        </li>
        <li>
            <a href="/registration">Register</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/cart">
            Cart 🛒
            </a>
        </li>
        <li>
            <a href="/logout">
            logout
            </a>
        </li>
    </ul>
</nav>