{% extends "base.html" %}

{% block title %}
Orders
{% endblock %}

{% block content %}
<h1>All Orders</h1>
<div class="cards">
    {% for order in orders %}
  <h2>
    Customer: {{order.customer_name}}
  </h2>

  <div class="card">
       <p>
        Food: {{order.food}}
        </p>

        <p>
        Quantity: {{order.quantity}}
        </p>

        <p>
            Table: {{order.table}}
        </p>

        <p>
           Total: ₹{{order.total}}
        </p>

        <p>
            Status: {{order.status}}
        </p>

        <a href="/update-order-status/{{order._id}}/Preparing">Preparing</a>
        <a href="/update-order-status/{{order._id}}/Completed">Completed</a>
        <a href="/update-order-status/{{order._id}}/Cancelled">Cancelled</a>

        <a href="/bill/{{order._id}}">
        Generate Bill
        </a>
  </div>

  {% endfor %}
  </div>
  {% endblock %} 